<ion-header>
  
</ion-header>

<ion-content padding class="fondo">
  <br>
  <br>
  <br>


  <ion-input type="text" class="input-login" placeholder="Usuario" #user text-center></ion-input>
  <br>
  <br>
  <ion-input type="password" class="input-login" placeholder="Contraseña" #pass text-center></ion-input> 
  <br>
  <br>
  <ion-button expand="block" color="primary" (click)="entrar()">Iniciar Sesión</ion-button>
  <br>
  <ion-button expand="block" color="dark" (click)="entrarFB()"><ion-icon name="logo-facebook"></ion-icon> Entrar con Facebook</ion-button>
</ion-content>
