<ion-header>
  
</ion-header>

<ion-content padding class="fondo">

  <br>

  <ion-row>
    <ion-col size="6" offset="3">
      <img src="../../assets/img/logo.png" alt="">
    </ion-col>
  </ion-row>

  <br>
  <br>
  <br>


  <ion-input type="text" class="input-login" placeholder="Usuario" #user text-center></ion-input>
  <br>
  <br>
  <ion-input type="password" class="input-login" placeholder="Contraseña" #pass text-center></ion-input> 
  <br>
  <br>
  <ion-button expand="block" color="dark" (click)="entrar()">Iniciar Sesión</ion-button>
  <br>
  <ion-button expand="block" color="dark" (click)="entrarFB()"><ion-icon name="logo-facebook"></ion-icon> Entrar con Facebook</ion-button>

</ion-content>
